<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
        
<welcome-file-list>
    <welcome-file>index.html</welcome-file>
</welcome-file-list>       

<filter>
	<filter-name>CharacterEncoding</filter-name>
	<filter-class>lab.cgcl.lhc.webProxy.filter.SetCharacterEncoding</filter-class>
	<init-param>
		<param-name>charset</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
</filter> 

<filter-mapping>
	<filter-name>CharacterEncoding</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping> 


<!-- web发送优惠券 -->
<servlet> 
	<servlet-name>entry</servlet-name> 
	<servlet-class>lab.cgcl.lhc.webProxy.servlet.ProxyServlet</servlet-class> 
	<init-param>
	    <param-name>localURL</param-name>
	    <param-value>http://localhost:8089/WebProxy/browser</param-value>
    </init-param>
</servlet>

<servlet-mapping> 
	<servlet-name>entry</servlet-name> 
	<url-pattern>/browser</url-pattern> 
</servlet-mapping>



</web-app>